thead, th, tbody, td {
	border: none;
}

#main-wrapper {
	/* font:normal 11px/20px "Lucida Grande",Verdana,sans-serif !important; */
}


.fullwidtharchives {
	width: 620px !important;
}

.leftalignarchives {
	text-align: left !important;
}

/*In this collection header part*/
.sc_sidebar_header {
  border-top: medium none !important;
  color: #007DC3;
  font-family: 'BellGothicStdBlack',Verdana,Arial,Helvetica,sans-serif;
  font-size: 1.2em;
  margin: 0;
  text-transform: uppercase;
  padding-left: 30px;
  padding-bottom: 5px;
  padding-top:5px;
  border-bottom: 1px solid #e5e5e5;
}

.archives_series_heading {
	line-height: 1.5em;
	font-family: Verdana, Geneva, sans-serif;
    	font-size: 1.3em;
    	text-decoration: none;	
	padding-left: 20px;
	padding-top: 5px;

}

.archives_subseries_heading {
	/*https://stackoverflow.com/questions/32039846/can-i-use-css-to-add-a-bullet-point-to-any-element */
	display: list-item;          /* This has to be "list-item"                                               */
	list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
	list-style-position: inside; /*See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position */

	
	padding-top: 5px;
	padding-left: 30px;
	/* background-color: lightgrey;*/
        line-height: 1.5em;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 1.3em;
        text-decoration: none;
}




.sc_sidebar_header a:active,
.sc_sidebar_header a:hover,
.sc_sidebar_header a:link,
.sc_sidebar_header a:visited,
.archives_series_heading a:active,
.archives_series_heading a:hover,
.archives_series_heading a:link,
.archives_series_heading a:visited,
.archives_subseries_heading a:active,
.archives_subseries_heading a:hover,
.archives_subseries_heading a:link,
.archives_subseries_heading a:visited 
{
	color: #444444;
	text-decoration: none;

}

.sc_sidebar_header a:hover, 
.archives_series_heading a:hover,
.archives_subseries_heading a:hover { 
	color: #008478;
}

/*The Sidebar active class has to be added, 
otherwise the title of the subseries also gets the css class applied to it:w

A small note, a trailing / in the drupal path means drupal (or browser) does 
NOT apply the active css tag to a link
*/

.sidebar_active.active {
	font-weight: bold;
}



/*this indents the subseries */
/*
.archives_subseries_heading {
	padding: 1px 0 1px 20px;
}
*/

/*
.sc_sidebar {
	line-height:1.4em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
}
*/



/*
.section_navigation label {
	color: #444444;
	display: inline;
	font-size: 1.3em;
	font-weight: normal;
}

.section_navigation_title {
	font-size: 1.3em;
}


.sc_section_navigation a:hover { 
	color: #37b5e2;
}

.sc_section_navigation {
	margin-top: 0;
}
*/
